<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
		http://www.springframework.org/schema/data/neo4j 
		http://www.springframework.org/schema/data/neo4j/spring-neo4j-2.0.xsd 
		http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:spring-configured/>

    <context:component-scan base-package="org.springdata.neo4j.todos"/>

    <neo4j:config graphDatabaseService="graphDatabaseService"/>

    <bean id="graphDatabaseService" class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
        <constructor-arg type="java.lang.String" value="http://localhost:7474/db/data"/>
    </bean>
    

    <neo4j:repositories base-package="org.springdata.neo4j.todos"/>

    <tx:annotation-driven mode="aspectj"/>

</beans>
